<!doctype html>
<title>BNP</title>
<h1>Yashvardhan Nevatia</h1>
<h2>BNP Paribas Application</h2>
<ul>
    <li>I chose to focus on a commodity OIL and an industry TECH</li>
    <li>Given the constraints of both time and data, I came up with the best I could.</li>
    <li>Its a very simple analysis where I tried to correlate the occurence of news and stock prices</li>
    <li>I have a very basic understanding of the stock market, so forgive me if I made a wrong assumption.</li>
</ul>

<h3>Choose Industry</h3>
<h2><a href="/oil">OIL</a></h2>
<h2><a href="/tech">TECH</a></h2>

<h4>Notes</h4>
