<h1>TECH</h1>

<h3>Daily stock prices from 2012 to 2016 along with its plot</h3>
<img src="{{url_for('static', filename='tech_price.png')}}" alt="">

<ul>
    <li>For tech I chose, Apple, Microsoft, Amazon and Nvidia.</li>
    <li>The INDEX is S&P 500 Technology Index.</li>
    <li>We can see the tech stocks are pretty correlated</li>
    <li>Google would be a better option than NVIDIA but the library I am using did not have the data</li>
    <li>Also for tech I chose to focus on individual stocks instead of the industry.</li>
</ul>

<br>

<h3>Daily Log differnce</h3>
<img src="{{url_for('static', filename='tech_diff.png')}}" alt="">

<br>
<button type="button" name="button">
    <a href="/tech/1">Analysis</a>
</button>
